<section class="user-form" data-client="{{client.id}}">
    <div class="card">
        <div class="card-header">
            <h2>Welcome to Happy Helpers</h2>
            <p class="username">{{client.username}}</p>
            <div class="user-profile">User Profile</div>
            <div>Name: {{ client.first_name }} {{ client.last_name}}</div>
            <div>Role: <span>{{ client.role_title }}</span></div>
            <div>Current Address: {{ client.location }}</div>
            <button type="submit" id="logout" class="logout">Logout</button>
        </div>
        
        <div class="container">
            <div class="title"> Task Form Request</div>
            <div class="content">
                <form action="/clientpage" id="newTaskForm" class="card-body needs-validation was-validated"
                    nonvalidate="" method="POST">
                    <div class="task-details">
                       <!-- <div class="input-box">
                            <div class="col-md-10">
                                <label for="validationFirstname" class="form-label"></label>First name:</label><br>
                                <input class="form-control" type="text" id="validationFirst_name" name="fname" value=""
                                    required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="input-box">
                            <div class="col-md-10">
                                <label for="validationLastname" class="form-label"></label>Last name:</label><br>
                                <input class="form-control" type="text" id="validationLast_name" name="lname" value=""
                                    required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>-->
                        <div class="input-box">
                            <div class="col-md-10">
                                <label for="TaskTitle" class="form-label"></label>Task Title</label><br>
                                <input class="form-control" type="text" id="taskTitle" name="taskTitle" value=""
                                    required="">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="col-md-4">
                            <label for="Task" class="form-label"></label>Let Us Know What You Need Help
                            with</label>
                            <textarea class="form-control" type="text" id="taskDeets" name="taskDeets" value=""
                                required=""></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="col-md-8">
                            <label for="task_time" class="form-label"></label>When do you need help with this
                            Task?</label><br>
                            <input class="form-control" type="datetime-local" id="task_time" name="task_time" value=""
                                required=""><br><br>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <!--<div class="input-box">
                        <div class="col-md-4">
                            <label for="location">City (Choose the closest one to you, if you don't find yours
                                here):
                            </label>
                            <select name="location" id="location">
                                <option value="San_Francisco">San Francisco</option>
                                <option value="San_Jose">San Jose</option>
                                <option value="Palo_Alto">Palo Alto</option>
                                <option value="Oakland">Oakland</option>
                                <option value="Sacramento">Sacramento</option>
                                <option value="Santa_Rosa">Santa Rosa</option>
                                <option value="Fresno">Fresno</option>
                            </select> <br>
                        </div>
                    </div> -->
                    <div class="button">
                        <input type="submit" value=" Submit Task" class="submit-btn" id="submit-task-btn">
                        <!--<button type="submit" class="submit" id="submit-task-btn">Submit Task</button>-->
                    </div>
                    
                    
            </div>
            </form>
        </div>
</section>

<section class="task-section">
    <div class="container">
<div class="task-bar">
               <div class="button">
                        <input type="submit" value="My Tasks" class="submit-btn" id="viewTaskBtn">
                        <!--<button type="submit" class="submit" id="submit-task-btn">Submit Task</button>-->
                    </div>
            <!--<button class="taskBar-btn viewTask-btn" id="viewTaskBtn" >View All My Tasks</button>-->
        </div>
        <table id="table" style="width: 100%">
            <tr class="table-row">
                <th class="tHead1 task-header" style="width: 15%;">Task</th>
                {{!-- <th class="details-column" style="width: 25%;">Details</th> --}}
                <th class="tHead2" style="width: 20%;">Time</th>
                
                <th class="tHead3" style="width: 20%;">Task Status</th>
                <th class="tHead4 action-header" style="width: 25%;">Helper</th>
                <th class="tHead5 action-header" style="width: 20%;">Details</th>
                
            </tr>
        </table>
    </section>
</div>
<!-- Modal based on code from W3schools.com -->
<div id="modal" class="modal">
    <div class="m-box">
        <div class="m-header">
            <span class="close">&times;</span>
            <h2 id="task-title-modal"></h2>
        </div>
        <div class="m-body">
            <p id="m-body"></p>
        </div>
    </div>
</div>
    </div>
        


<script src="../js/client.js"></script>


<!--<section class="task-listN">
    <div class="container">
        <div class="title"> My Tasks </div>
        <div class="task-section">
            <label for="task-title">My Task 1</label>
            <div class="form-data"> Form Data 1</div>
            <div class="button">
                <input type="submit" value="Task Status" class="submit-btn">
            </div>
        </div>
                <div class="task-section">
            <label for="task-title">My Task 2</label>
            <div class="form-data"> Form Data 2</div>
            <div class="button">
                <input type="submit" value="Task Status" class="submit-btn">
            </div>
        </div>
                <div class="task-sectionN">
            <label for="task-titleN">{{client.task}}</label>
            <div class="form-dataN"> Form Data 3</div>
            <div class="button">
                <input type="submit" value="Task Status" class="submit-btn">
            </div>
        </div>
    </div>

</section> -->