<form id="helper-form">
<div class="flex-container">
    <section class="helper-header">
        <div>
            <h1>Happy Helper</h1>
        </div>

    </section>
    <section class="user-form">
        <div class="row">
            <div class="column helper-name" id="helper-name">{{ helper.first_name }} {{ helper.last_name }}</div>
            <div class="column helper-title" id="helper-title">{{ helper.role_title}}</div>
        </div>
        <div class="row">
            <div class="column helper-location" id="helper-location">{{ helper.location }}</div>
            <div class="column helper-progress" id="helper-progress">{{ helper.username }}</div>
        </div>
    </section>
    <!--
    <aside class="messages">
        <div>Messsages</div>
        <div class="user-message"></div>

    </aside> -->
    <section class="task-section">
        <div>
            <ul id="task-list" class="task-list">

            </ul>
        </div>
    </section>
</div>
<button id="testBtn">Temp Button</button>
</form>

<script src="../js/helper.js"></script>